<!DOCTYPE html>
<html lang="en">
<head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">SMART HOME</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="user.html">Home</a></li>
            <li><a href="/" >SignOut <i class="material-icons left">person_outline</i></a></li>
            
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-links">
        <li><a href="user.html">Home</a></li>
        <li><a href="/" >SignOut <i class="material-icons left">person_outline</i></a></li>
      </ul>
    <form id="myForm" action="" method="post">
    
    <div class="switch center-align">
        <h1>Sensors</h1>
        <label> <h5>Smoke Sensor <i class="material-icons ">smoking_rooms</i></h5>
          Off
          <input
            name="smoke_sensor"
            type="checkbox"
            onchange="handleChange(this)"
          />
          <span class="lever"></span>
          On
        </label>
        <label> <h5>Gas Sensor <span class="iconify" data-icon="mdi-gas-cylinder"></span> </h5>
            Off
            <input
              name="gas_sensor"
              type="checkbox"
              checked="checked"
              onchange="handleChange(this)"
            />
            <span class="lever"></span>
            On
          </label>
        <label> <h5>Motion Sensor <span class="iconify" data-icon="mdi-motion-sensor"></span> </h5>
          Off
          <input
            name="motion_sensor"
            type="checkbox"
            checked="checked"
            onchange="handleChange(this)"
          />
          <span class="lever"></span>
          On
        </label>
        <br></br>


      </div>
    </form>

<br></br>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h5>About Developer</h5>
        <p>
          Developer is a student of Software Engineering (BatchF15), Departement of Computer Science & Software Engineering International Islamic University Islamabad. 
        </p>
      </div>
      <div class="col s12 l4 offset-l2">
        <h5>Connect</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/hamzajamalofficial" class="fa fa-facebook"> Facebook</a>
            
            <br>
            <a href="https://twitter.com/Hmza_jamal" class="fa fa-twitter"> Twitter</a>
            <br>
            <a href="#" class="fa fa-instagram"> Instagram</a>
            
            
          </li>
        </ul>
      </div>
    </div>
    

  <div class="footer-copyright">
    <div class="container center-align">
      Copyrighted &copy; 2020 by Hamza Jamil
    </div>
  </div>
    
</footer>
<script>function handleChange(checkbox) 
  {
    document.getElementById("myForm").submit();
  }
</script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>


<script>
  $(document).ready(function()
  {
    $('.sidenav').sidenav();
  });
</script>
</html>